.titulo{
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}.Card{
    background-color: black;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.comp{
    padding: 20px;
    display: flex;
    justify-content: center;
}